.father{
    width:500px;
    height:500px;
    background-color: blue;
    position:relative;
    padding:0px;
    transition:all 1s ease;/*children does not inherit transition */
}
.child{
    width:480px;
    height:480px;
    background-color: white;
    position:absolute;
    opacity:0;
    transition:all 1s ease-in-out;
}
.father:hover{
    padding:10px;
    width:480px;
    height:480px;
}
.child:hover{
    opacity:1;
}