@charset "utf-8";

#video
{
	text-align:center;
	margin:90px auto 50px auto;
	height:300px;
	width:330px;
}

#video>fieldset
{
	direction:rtl;
	font-family:tahoma;
	color:gray;
	width:330px;
}
	
#video>fieldset>legend
{	
text-align:center;
}
#video>fieldset>video
{
	width:320px;
	height:240px;
	margin:10px auto 0px auto;
}